inputs/person-subset/niem/domains/jxdm/6.0/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/6.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../utility/conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/"/>
  <xs:import schemaLocation="../../../utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/"/>
  <xs:element name="ActivityOfficial" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>An official associated with an activity</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondsmanPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A bail bondsman person, generally from an organization specializing in posting bond.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BaileePerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person for whom bond was posted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailingPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who posted bond for another person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BirthAttendant" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person or entity who attended the birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CommunityLeaveDoctor" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A doctor specified as a part of a community leave.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CommunityLeaveEscort" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A corrections official or other designee assigned to escort the subject on community leave.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person through which contact can be made.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CorrectionalCounselor" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A certified staff member assigned to responsibilities of providing counselling to corrections subjects.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Counselor" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A staff member responsible to observe, conduct, or lead an activity with a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeclarationPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who declared another person missing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person to which a driver license or driver license permit is assigned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DrivingIncidentPassenger" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person in a vehicle excluding the driver when an incident occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EvidenceCollector" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who collected a particular piece of evidence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HearingAttendee" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person attending a hearing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HearingDecisionPanelMember" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person assembled as part of a group to make a hearing decision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HearingOfficial" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person responsible for rendering a hearing decision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncomeRecipientPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person providing income.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InformationPracticesActDisclosureAuthorizingPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person authorizing the disclosure of the information covered by the Information Practices Act (IPA).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemSeizureOwningPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who owns a property item that was seized.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemSeizurePossessingPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who had possession of a property item when it was seized.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonDeclarationPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who declared another person to be missing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OriginatorPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who originated the communication.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ParoleAgent" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A staff member responsible for the supervision and monitoring of a subject's parole.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ParoleHearingDecisionReviewReviewer" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A staff member responsible for conducting a review of a parole hearing decision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ParoleOfficer" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A staff member responsible for the supervision of a subject's parole.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PawnReceiver" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person in the employ of the pawn shop that processed a transaction where an item to be pawned or consigned was received into the pawn shop</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PawnSeller" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person in the employ of the pawn shop that processed a transaction where a pawned or consigned item was released or sold</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDeathIncidentCoroner" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A coroner or deputy coroner reporting on the death of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDeathIncidentEmbalmer" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person that embalmed the body of the decedent.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPrimaryWorker" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A primary social worker or other overseer assigned to a person that is not a caregiver.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonReferralWorker" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>An Employee of State assigned to the particular juvenile.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProgramViolationRelatedOfficial" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>An individual who observed or documented the program violation as a concatenated first and last name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProtectionOrderRestrictedPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person that a subject is restricted from having any contact with as defined in a protection order.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReceiverPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who the communication was sent to.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RecipientPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person the mail was sent to.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SenderPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person that sent the mail.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServiceCallDispatcher" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who determines the course of action to be taken in response to a call for service and sends out appropriate response units as necessary.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServiceCallOperator" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who receives a call for service.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServiceCallOriginator" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who places a call for service.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServiceCallResponsePerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who needs the assistance of a response unit from a call for service.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServiceProviderPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person receiving a service.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServiceRecipientPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person providing a service.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectInvolvementPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person with whom a subject is known or suspected of being involved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionRestrictionPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person a supervised person is restricted from involvement.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TargetPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person that is a target of an action.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ToolUser" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who used the item as a tool.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimEntityAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimPerson" type="nc:PersonType" substitutionGroup="j:VictimEntityAbstract">
    <xs:annotation>
      <xs:documentation>An entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VisitationRestrictedAccessPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person under restricted access who receives a visit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VisitationVisitor" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who visits a person under restricted access.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VisitedPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who was visited.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VisitorPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A visitor person.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
