inputs/person-subset/niem/niem-core/4.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/4.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../utility/conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"/>
  <xs:import schemaLocation="../../utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/"/>
  <xs:import schemaLocation="../../external/xml/1.0/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace"/>
  <xs:complexType name="ActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a single or set of related actions, events, or process steps.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BinaryType">
    <xs:annotation>
      <xs:documentation>A data type for a digital representation of an object encoded in a binary format.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CapabilityType">
    <xs:annotation>
      <xs:documentation>A data type for an ability to complete a task or execute a course of action under specified condition and level of performance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseType">
    <xs:annotation>
      <xs:documentation>A data type for an aggregation of information about a set of related activities and events.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContactInformationType">
    <xs:annotation>
      <xs:documentation>A data type for how to contact a person or an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImageType">
    <xs:annotation>
      <xs:documentation>A data type for a picture or visual representation of something.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:BinaryType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InjuryType">
    <xs:annotation>
      <xs:documentation>A data type for a form of harm or damage sustained by a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LengthMeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measure of a distance or extent.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:MeasureType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation>A data type for geospatial location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MedicalConditionType">
    <xs:annotation>
      <xs:documentation>A data type for a state of health, on-going or present.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MilitarySummaryType">
    <xs:annotation>
      <xs:documentation>A data type for a service of a person in a military.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NumericType">
    <xs:annotation>
      <xs:documentation>A data type for a number value.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:decimal"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonLanguageType">
    <xs:annotation>
      <xs:documentation>A data type for a language capability of a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType">
        <xs:attribute ref="nc:personNameInitialIndicator" use="optional"/>
        <xs:attribute ref="nc:sequenceID" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonGivenName" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonSurName" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonAccentText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonAgeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonAgeMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonBirthLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonBloodTypeAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonBodyXRaysAvailableAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonBuildAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonCapability" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonCircumcisionIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonCitizenshipAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonComplexionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonDeathDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonDependentQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonDigitalImage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonDigitizedSignatureImage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonDisguiseDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonOrganDonorAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonEducationLevelText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonEthnicityAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonEyeColorAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonEyewearAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonFacialHairAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHairLengthAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHairStyleAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonGeneralAppearanceDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHairAppearanceText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHairCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHairColorAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHandednessText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHeightDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHumanResourceIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonInjury" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonJewelryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonLanguageEnglishIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonLearningDisabilityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonLicenseIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonLivingIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMedicalCondition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMedicalDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMedicalFileIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMedicationRequiredText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMentalStateText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMilitarySummary" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonMoodDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonNationalIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonOrganDonatorIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonPassportIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonPhysicalDisabilityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonPhysicalFeature" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonPrimaryLanguage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonRaceAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonReligionAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonResidentAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSecondaryLanguage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSecurityClearanceAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSexAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSexualOrientationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSkinToneAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSpeechDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonStateIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonTaxIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonUnionStatusAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonUSCitizenIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonVisionPrescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonWeightDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonXRayImage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonNationalityAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:EmploymentContactInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonEmergencyContactInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonHomeContactInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalFeatureType">
    <xs:annotation>
      <xs:documentation>A data type for a prominent or easily identifiable aspect of something or someone.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QuantityType">
    <xs:annotation>
      <xs:documentation>A data type for a count or tally.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:NumericType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string">
        <xs:attribute ref="nc:partialIndicator" use="optional"/>
        <xs:attribute ref="nc:truncationIndicator" use="optional"/>
        <xs:attribute ref="xml:lang" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TimeMeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measure of an amount of time.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:MeasureType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WeightMeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measure of a weight.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:MeasureType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:attribute name="partialIndicator" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>True if only partial information was available to the information source at the time when the data was captured in the system; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="personNameInitialIndicator" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>True if value represents the first letter or initials of a persons name; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="sequenceID" type="xs:integer">
    <xs:annotation>
      <xs:documentation>A numeric identifier that explicitly sequences or orders elements.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="truncationIndicator" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>True if the length of a string is greater than the length of the field within which the string was stored in the exporting system; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:element name="AssessmentPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who undergoes an assessment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case" type="nc:CaseType" nillable="true">
    <xs:annotation>
      <xs:documentation>An aggregation of information about a set of related activities and events.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactResponder" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A third party person who answers a call and connects or directs the caller to the intended person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceOperator" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who operates or drives a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyedPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person being conveyed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateTime" type="niem-xs:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xs:annotation>
      <xs:documentation>A full date and time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeviceUser" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who uses a device.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DisciplinaryActionPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person to whom a disciplinary action is assigned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentEntrySubmitter" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who contributed an entry in a document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Employee" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who works for a business or a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployeeSupervisor" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who oversees and manages an employee.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmploymentContactInformation" type="nc:ContactInformationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A means of contacting a person at work.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation">
    <xs:annotation>
      <xs:documentation>A person capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentityCharacteristics" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A set of person characteristics used as an identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InjuryCauserAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a causer of an injury.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InjuryCauserPerson" type="nc:PersonType" substitutionGroup="nc:InjuryCauserAbstract">
    <xs:annotation>
      <xs:documentation>A person who caused an injury.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InjurySustainer" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who receives or sustains an injury.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationStateName" type="nc:ProperNameTextType" substitutionGroup="nc:StateRepresentation" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MedicalConditionDoctor" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A doctor who treats a person for a medical condition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationPrincipalOfficial" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A chief or high ranking executive of an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAccentText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A manner of pronunciation; a way of pronouncing words that may indicate the place of origin or social background of the speaker.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAgeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A general description of the age of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAgeMeasure" type="nc:TimeMeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measurement of the age of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location where a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBloodTypeAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a blood group and RH factor of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBodyXRaysAvailableAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for the availability of an X-ray for a specific body part for a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBuildAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person's physique or body shape.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCapability" type="nc:CapabilityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A capacity or ability of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCircumcisionIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is circumcised; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCitizenshipAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a country that assigns rights, duties, and privileges to a person because of the birth or naturalization of the person in that country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonComplexionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An appearance or condition of the skin of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDeathDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person died or was declared legally dead.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDependentQuantity" type="nc:QuantityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of people dependent upon a person as their primary means of support.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDigitalImage" type="nc:ImageType" nillable="true">
    <xs:annotation>
      <xs:documentation>A photograph or image of a person in a digital format.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDigitizedSignatureImage" type="nc:ImageType" nillable="true">
    <xs:annotation>
      <xs:documentation>An image of a handwritten signature of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDisguiseDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of something a person wears to conceal or mislead others as to the true appearance or identity of that person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEducationLevelText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A highest level of education a person has obtained.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEmergencyContactInformation" type="nc:ContactInformationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A means of contacting someone in the event of an emergency.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEthnicityAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a cultural lineage of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEyeColorAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a color of the eyes of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEyewearAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of glasses or other eyewear.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFacialHairAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of facial hair.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGeneralAppearanceDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the way a person looks and is presented overall.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHairAppearanceText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An overall appearance of the hair of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHairCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of hair of a person, such as wavy or straight.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHairColorAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a color of the hair of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHairLengthAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a length of hair of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHairStyleAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a style or cut of hair worn by a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHandednessAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a hand with which a person is more adept using.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHandednessText" type="nc:TextType" substitutionGroup="nc:PersonHandednessAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A hand with which a person is more adept using.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHeightDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the height of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measurement of the height of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHomeContactInformation" type="nc:ContactInformationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A means of contacting a person at home.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHumanResourceIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A human resources or employment identification assigned to a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonInjury" type="nc:InjuryType" nillable="true">
    <xs:annotation>
      <xs:documentation>A form of physical harm or damage sustained by a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonJewelryDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of adornments a person wears.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonLanguageEnglishIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person understands and speaks English; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonLearningDisabilityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A disorder of a person which can cause difficulties in learning something.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonLicenseIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references a license certification or registration of a person for some purpose.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonLivingIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is alive; false if a person is dead.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMedicalCondition" type="nc:MedicalConditionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A state of health for a person, on-going or present.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMedicalDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the overall health of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMedicalFileIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a medical history file is known to exist for a person; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMedicationRequiredText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A medication and dosage required for a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMentalStateText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A mental condition of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A middle name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMilitarySummary" type="nc:MilitarySummaryType" nillable="true">
    <xs:annotation>
      <xs:documentation>A service of a person in a military.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMoodDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a state of feeling of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A term appended after the family name that qualifies the name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNationalIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references a person within a country but is not based on fingerprint.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNationalityAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a country of a person's citizenship or a country in which a person is deemed a national.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOrganDonatorIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has given consent to be used as an organ donor upon death; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOrganDonorAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an organ a person is willing to donate upon death.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPassportIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a passport issued to a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPhysicalDisabilityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A physical disability of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPhysicalFeature" type="nc:PhysicalFeatureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A prominent or easily identifiable aspect of  a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPrimaryLanguage" type="nc:PersonLanguageType" nillable="true">
    <xs:annotation>
      <xs:documentation>A capacity of a person for a language with which that person has the strongest familiarity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRaceAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRaceText" type="nc:TextType" substitutionGroup="nc:PersonRaceAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonReligionAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a religion to which a person subscribes or believes; a categorization of spiritual beliefs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonResidentAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a manner of residence a person has in a city, town, community, or other area..</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification reference to a living person; assigned by the United States Social Security Administration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSecondaryLanguage" type="nc:PersonLanguageType" nillable="true">
    <xs:annotation>
      <xs:documentation>A capacity of a person for a language with which that person is not completely fluent.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSecurityClearanceAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a formal authorization granting a person access to classified or restricted information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSexAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSexualOrientationText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A target gender of the sexual interest of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSkinToneAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a color or tone of the skin of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSpeechDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a pattern of speech with which a person speaks.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonStateIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a person based on a state-issued ID card.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonTaxIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification used to refer to a specific person within the tax system of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonUSCitizenIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is a citizen of the United States; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonUnionStatusAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a legal status of a union between two people.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonVisionPrescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A prescription a person needs for corrective lenses or contacts.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonWeightDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the weight of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measurement of the weight of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonWorker" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person assigned to do work for or on behalf of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonXRayImage" type="nc:ImageType" nillable="true">
    <xs:annotation>
      <xs:documentation>An X-Ray image of a person or part of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProgramPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who attends a program.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReferralPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who is being directed to a relevant service or product.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReleasePerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who is released from confinement or an obligation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a property of a role object. This specifies the base object, of which the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfPerson" type="nc:PersonType" substitutionGroup="nc:RoleOfAbstract">
    <xs:annotation>
      <xs:documentation>A person of whom the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SchedulePerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person for whom an activity is scheduled.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionPerson" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who is being supervised.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WeaponUser" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A person who uses a weapon.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
